<div class="container">
    <h3>About</h3>

    <div>
        <p class="about-heading">
            <strong>Welcome to the Todo App!</strong>
        </p>
        <p>
            This app is build using Angular 12. This app allows users to plan their day to day work by organizing,
            planing, and collaboration on tasks and projects with Todolist. You can add multiple tasks at any time, mark
            a task complete. Also, an option to delete a task that is completed.
        </p>
    </div>

    <button class="btn btn-primary" [routerLink]='["/todolist"]'>Go to App</button>
</div>